.Calc{
	background-color: rgb(0, 41, 61);
    min-height: 100vh;
}

.calculator{
	max-width: 1140px;
	margin: 0 auto;
}

.calc-nav{
	max-height: 150px;
	min-height: 150px;
	padding-top: 40px;
}

.calc_head{
	padding-left: 10px;
	max-height: 75px;
	min-height: 75px;
	text-align: left;
}

.calc-title{
	font-size: 50px;
	line-height: 1.2;
	font-weight: 400;
	color: #f24c24;
}

.progress{
	max-height: 75px;
	min-height: 75px;
	padding-left: 14px;
	padding-top: 15px;
}

.progress .point{
	display: inline-block;
	margin-right: 50px;
	min-width: 140px;
	min-height: 5px;
	background-color: white !important;
}

.point.these{
	background-color: #f24c24 !important;
}

.calculator .container{
	padding-left: 10px;
	display: flex;
	justify-content: flex-start;
}

.calc-contact {
	max-width: 390px;
	min-width: 390px;
	max-height: 375px;
}

.contact__title{
	font-size: 33.4px;
	line-height: 1.2;
	font-weight: 400;
	color: #f24c27;
}

.calc-contact .btn_submit{
	width: 354px;
	height: 44px;
}

.calc-form a{
	text-decoration: none;
    color: #ffffff;
}

.calc-contact .wrapper{
    display: flex;
    justify-content: space-between;
}

.calc-form{
    position: relative;
	min-width: 577px;
	max-height: 375px;
}

.form_title{
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 400;
	color: #f24c24;
}

.choise{
	margin-top: 25px;
	margin-left: 20px;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: #fefefe;
}

.choise span{
	margin-left: 15px;
}

.choise input{
	-webkit-appearance: none;
  	appearance: none;
  	margin-top: 10px;
  	width: 23px;
	height: 23px;
	border: 2px solid white;
	border-radius: 100%;
	outline: none;
	vertical-align: -2px;
}

.choise .subform.subform_1 {
    transition: 0.5s all;
    opacity: 0%;
}
.choise .subform input{
  	border-radius: 0;
  	color: white;
}

.choise  input::before {
    display: block;
    content: " ";
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: white;
    transform: translate(2px, 2px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
}

.choise input:checked::before {
    transform: translate(2px, 2px) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}

.choise  .subform input::before {
    border-radius: 0;
}

.subform{
    margin-top: 7px;
	padding-left: 50px;
}

.calc-contact .form .data{
	width: 350px;
	height: 40px;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.calc-form .btn_submit{
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	width: 124px;
	height: 39px;
}
#form4 {
    padding-left: 0;
}
.calc-form .btn_submit.btn_calc {
    margin-top: -140px;
    transition: 0.5s all;
}

.calc__price {
    width: 740px;
    text-align: left;
    font-size: 50px;
    font-weight: 400;
    color: #fff;
}

.calc-links {
    display: flex;
}
.calc-links__item {
    margin: 126px 50px 0 0;
    display: block;
    color: #fff;
    font-size: 25px;
    text-decoration-line: none;
}
.calc-links__item:hover {
    color: #f24c26;
}

@media (max-width: 1199px){
    .Calc .calculator {
        max-width: 960px;
    }
    .calc-nav {
        min-height: 127px;
    }
    .Calc .calculator .calc-nav a img {
        display: block;
        width: 200px;
    }
    .calc_head {
        min-height: 25px;
    }
    .calc-title {
        font-size: 40px;
    }
    .Calc .progress .point {
        min-width: 102px;
    }
    .calc-contact {
        min-width: 301px;
    }
    .calc__price {
        max-width: 600px;
        font-size: 30px;
    }
    .calc-links__item {
        font-size: 21px;
    }
}
@media (max-width: 991px){
    .Calc .calculator {
        max-width: 720px;
    }
    .calc-title {
        font-size: 35px;
    }
    .Calc .progress {
        min-height: 62px;
    }
    .Calc .progress .point {
        min-width: 80px;
    }
    .calc-contact {
        display: none;
    }
    .calc__price {
        max-width: 600px;
        font-size: 30px;
    }
    .calc-form .form_title {
        font-size: 25px;
    }
    .calc-form .btn_submit.btn_calc {
        margin-top: -170px;
    }
}
@media (max-width: 767px){
    .Calc .calculator {
        max-width: 540px;
    }
    .Calc .calculator .calc-nav a img {
        margin: 0 auto;
    }
    .Calc .progress .point {
        margin: 0 28px 0 18px;
    }
    .calc-form .form_title {
        text-align: center;
    }
    .calc-form {
        min-width: 524px;
    }
    .choise {
        font-size: 20px;
    }
    .choise input {
        width: 20px;
        height: 20px;
        vertical-align: -6px;
    }
    .calc__price {
        margin-top: 25px;
        max-width: 529px;
        font-size: 27px;
    }
    .calc-links__item {
        font-size: 18px;
        margin: 72px 32px 0 25px;
    }
}
@media (max-width: 575px){
    .Calc .calculator {
        max-width: 280px;
        min-height: 130px; 
    }
    .calc-title {
        font-size: 20px;
        text-align: center;
    }
    .progress {
        display: none;
    }
    .calc-form {
        margin-top: 30px;
        min-width: 200px;
    }
    .choise {
        margin-top: 28px;
        margin-left: 12px;
    }
    .choise .subform {
        padding-left: 28px;
    }
    .calc-form .form_title {
        font-size: 21px;
    }
    .calc__price {
        margin-top: 30px;
        text-align: center;
        font-size: 21px;
    }
    .calc-links {
        display: block;
        margin-top: 60px;
    }
    .calc-links .calc-links__item {
        margin: 20px 32px 0 25px;
    }
}

