.cost {
    background-color:rgb(0, 41, 61);
} 
.cost .container {
    margin: 0 auto;
    width: 1140px;
    min-height: 600px;
    padding: 0 40px;
    padding-top: 50px; 
}
.title_cost {
    font-size: 62.5px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
.cost .wrapper{
    display: flex;
    margin-top: 52px;
    background-color:rgb(0, 41, 61);
}
.cost_text{
    padding: 0px 32px 38px 35px;
}
.cost_text_title{
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
.cost_text_desc{
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.btn_cost{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 250px;
    height: 60px;
    opacity: 0.96;
    background-color: rgb(0, 41, 61);
    border: 2px solid #f24c26;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
}
.btn_cost a{
    display: block;
    padding-top: 7%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.btn_cost:hover {
    font-size: 17px;
    box-shadow: 3px 3px 15px #fff;
    background-color: #f24c26;
}
.facts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0px 0px;
}
.facts_item{
    width: 190px;
    height: 110px;
}
.orange_text{
    font-size: 33.4px;
    line-height: 1.2;
    font-weight: 700;
    color: #ff4a22;
}
.blue_text{
    margin-top: 4px;
    font-size: 20.9px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.page-up__img path{
    fill: #fff;
}

@media (max-width: 1199px){
    .cost .container {
        max-width: 960px;
    }
    .cost .container .wrapper .calc{
        width: 460px;
        height: 366px;
    }
    .facts{
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .btn_cost{
        margin-top: 33px;
    }
}
@media (max-width: 991px){
    .cost .container {
        max-width: 720px;
    }
    .title_cost{
        font-size: 30px;
    }
    .cost .container .wrapper .calc{
        display:none;
    }
    .cost_text{
        padding-left: 0;;
    }
    .facts{
        max-width: 750px;
    }
    .cost_text_desc{
        padding-top: 10px;
    }
    .orange_text{
        font-size: 25px;
    }
    .blue_text{
        font-size: 20px;
    }
}
@media (max-width: 767px){
    .cost .container {
        max-width: 540px;
    }
    .cost .container .wrapper .calc{
        display: none;
    }
    .facts{
        width: 474px;
        padding-bottom: 0;
    }
    .facts_item {
        width: 90px;
        height: 137px;
    }
    .orange_text{
        font-size: 20px;
    }
    .blue_text{
        font-size: 16px;
    }
}
@media (max-width: 575px){
    .cost .container {
        max-width: 280px;
        min-height: 130px; 
        padding-left: 15px;
        padding-top: 0;
    }
    .cost_text_title{
        display: none;
    }
    .cost_text_desc{
        display: none;
    }
    .cost .container .wrapper {
    	max-height: 100px;
    	margin-top: -8px;
    }
    .title_cost{
        display: none;
    }
    .btn_cost{
        margin-top: 35px;
    }
    .facts{
        display: none;
    }
}