footer {
    width: 100%;
    min-height: 400px;
    background-color:rgb(0, 41, 61); 
}

footer .footer__title {
    margin-top: 48px;
    font-size: 62.5px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
footer .container{
    margin: 0 auto;
    width: 1140px;
    min-height: 600px;
    padding: 0px 40px;
    padding-top: 50px;
}
footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.line{
    margin-top: 54px;
    width: 400px;
    margin-bottom: 8px;
    background-color: #fff;
}

.info{
    width: 401px;
    height: 197px;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link{
    width: 186px;
    height: 100px;
}

.head_text{
    font-size: 31px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.info_text{
    margin-top: 10px;
    opacity: 0.6;
    font-size: 16.7px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.info_text a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s all;
}
.info_text a:hover{
    color: #ff3a0e;
}

a:hover svg path {
    transition: 0.5s all;
    fill: #ff3a0e;
}
.icons_links{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 152px;
}
.icons_links a{
    display: block;
    border-radius: 0%;
} 

.logo_footer{
    display: block;
    width: 100px;
    height: 40px;
}

@media (max-width: 1199px){
    footer .container{
        max-width: 960px;
    }
    h2.footer__title{
        margin: 0;
    }
    .info{
        width: 400px;
    }
    .line{
        width: 390px;
    }
    footer .wrapper{
        width: 850px;
    }
}
@media (max-width: 991px){
    footer .container {
        max-width: 720px;
    }
    footer .wrapper{
        width: 100%;
    }
    h2.footer__title{
        margin: 0;
        font-size: 30px;
    }
    .info{
        width: 300px;
    }
    .line{
        width: 290px;
    }
    .head_text{
        font-size: 20px;
    }
    .info_text{
        font-size: 12px;
    }
    .link{
        width: 120px;
        height: 90px;
    }
    .icons_links {
        width: 100px;
        margin-top: 10px;
    }
    .icons_links a svg {
        width: 28px
    }
    .logo_footer{
        width: 80px;
        height: 30px;
    }
}
@media (max-width: 767px){
    footer .container {
        max-width: 540px;
        padding: 50px 20px 0px 20px;

    }
    footer .wrapper{
        width: 400px;
        justify-content: center;
        align-items: center;
    }
    h2.footer__title{
        text-align: center;
        margin-left: 20px;
        margin: 0;
        font-size: 23px;
    }
    .info{
        display: none;
    }
    .icons_links {
        margin-top: 20px;
    }
    .line{
        width: 130px;
    }
    .form {
        transform: translateX(14%);
    }
}
@media (max-width: 575px){
    footer .container {
        min-height: 550px;
        max-width: 280px;
    }
    footer .wrapper{
        width: 100%;
    }
    h2.footer__title{
        text-align: center;
        margin-left: 20px;
        margin: 0;
        font-size: 23px;
    }
    .info{
        display: none;
    }
    footer .wrapper .form input {
        max-width: 200px;
    }
    .form {
        transform: translateX(1%);
    }
    footer .btn_submit {
        width: 200px;
    }
}
