.form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#footer-form {
    display: flex;
    justify-content: flex-start;
}

.divider {
    width: 550px;
    color: #fff;
}

.form input {
    width: 550px;
    height: 25px;
    margin-top: 20px;
    padding: 0 10px;
    background-color: rgb(0, 41, 61);
    outline: none;
    border: none;
    
    font-size: 16.7px;
    font-weight: 400;
    color: #ffffff;
}

.form textarea {
    width: 550px;
    height: 85px;
    margin-top: 20px;
    resize: none;
    background-color: rgb(0, 41, 61);
    padding: 8px;
    border: 1px solid #fff;

    font-family: 'Roboto', sans-serif;
    font-size: 16.7px;
    font-weight: 400;
    color: #ffffff;
}
.form .data {
    width: 100%;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}
.btn_submit{
    display: block;
    margin-top: 25px;
    width: 250px;
    height: 50px;
    opacity: 0.96;
    background-color: #f24c26;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
}
.btn_submit:hover {
    font-size: 19px;
    box-shadow: 3px 3px 15px #fff;
    background-color: #f24c26;
}

.form_modal .btn_submit {
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
    height: 50px;
    opacity: 0.96;
    background-color: #f24c26;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s all;
}
.form_modal .btn_submit:hover {
    font-size: 19px;
    box-shadow: 3px 3px 15px #fff;
}
.modal__reg {
    margin-top: 15px;
    color:#fff;
    font-size: 15px;
    text-align: center;
    text-decoration-line: none;
    transition: 0.5s all;
}
.modal__reg:hover {
    color: #f24c26;
}
#remember {
    align-self: start;
    width: 10%;
    margin-top: 40px;
	outline: none;
}
.form_modal label {
    position: absolute;
    bottom: 143px;
    color: #fff;
    font-size: 16px;
    left: 20%;
}

@media (max-width: 1199px){
    .form input{
        width: 382px;
    }
    hr.divider{
        width: 375px;
    }
    .form textarea{
        width: 375px;
    }
}
@media (max-width: 991px){
    .form input{
        max-width: 350px;
        font-size: 12px;
    }
    .contacts .wrapper{
        width: 340px;
    }
    hr.divider{
        width: 325px;
    }
    .form textarea{
        width: 325px;
        font-size: 12px;
    }
    #login {
        top: 12%;
    }
    .overlay .modal .modal__title {
        font-size: 23px;
    }
    .overlay .error {
        font-size: 15px;
    }
    .overlay .enter-error {
        font-size: 15px;
    }
    .form_modal label {
        bottom: 134px;
        left: 22%;
    }
    #remember {
        margin-top: 44px;
        width: 8%;
        left: 22%;
    }
    .form_modal .btn_submit {
        width: 200px;
        height: 40px;
    }
    .modal .modal__close {
        top: -5%;
        right: -16%;
    }
}
@media (max-width: 767px){
    .form textarea{
        height: 170px;
    }
    #footer-form {
        align-items: center;
    }
    #overlay-form {
        transform: translateX(0%);
    }
    .overlay .modal .modal__title {
        font-size: 17px;
    }
    .overlay .modal .modal__close {
        top: -5%;
        right: -20%;
    }
    .form_modal label {
        bottom: 97px;
        left: 15%;
    }
    .overlay .enter-error {
        font-size: 14px;
        top: 182px;
        left: 6px;
    }
    #remember {
        margin-top: 48px;
    }
    #overlay-form .btn_submit {
        margin-top: 18px;
    }
}
@media (max-width: 575px){
    .form input{
        max-width: 200px;
        font-size: 12px;
    }
    .wrapper{
        width: 200px;
    }
    hr.divider{
        width: 200px;
    }
    .form textarea{
        width: 200px;
        font-size: 12px;
    }
    .promo .container .wrapper .btn_start{
        background-color: Transparent;
        outline:none;
        width: 200px;
    }
    .overlay .modal .modal__close {
        top: -5%;
    }
    .form_modal label {
        bottom: 117px;
        font-size: 14px;
    }
}