.page-up {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 2%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 0.5s all;
}
.page-up img {
    display: block;
    border-radius: 50%;
    width: 100%;
}
.page-up:hover {
    box-shadow: 3px 3px 15px #fff;
}


@media (max-width: 767px) {
    body .page-up {
        display: none;
        pointer-events: none;
        cursor: default;
    } 
    body .page-up img{
        display: none;
    }
}