.pagestages {
    background-color: rgb(0, 41, 61);
    min-height: 100vh;
    padding: 50px 0 0 0;
}
.pagestages .container {
    margin: 0 auto;
    max-width: 1140px;
}
.pagestages .container .pagestages__title {
    margin-top: 35px;
    font-size: 40px;
    text-align: center;
    color: white;
}
.pagestages .container .pagestages__subtitle {
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.pagestages .container .wrapper {
    margin: 40px auto 0 auto;
    max-width: 800px;
}
.pagestages .container .wrapper .stage {
    position: relative;
    padding: 15px;
    width: 100%;
    border: 2px solid #00FF80;
    border-radius: 10px;
    min-height: 100px;
    margin-bottom: 20px;
}
.pagestages .container .wrapper .stage .stage__title {
    font-size: 40px;
    text-align: center;
    color: #fff;
}
.pagestages .container .wrapper .stage .stage__plus {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s all;
}
.pagestages .container .wrapper .stage .stage__plus::after {
    content: '';
    display: block;
    position: absolute;
    width: 80%;
    height: 3px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    transition: 0.3s all;
}
.pagestages .container .wrapper .stage .stage__title {
    margin-top: 11px;
    text-align: center;
    color: #fff;
    font-size: 23px;
}
.pagestages .container .wrapper .stage__anounce {
    text-align: center;
    font-size: 34px;
    color: #fff;
    margin-bottom: 37px;
}
.pagestages .container .wrapper .stage .stage__plus::before {
    content: '';
    display: block;
    position: absolute;
    height: 80%;
    width: 3px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    transition: 0.3s all;
}
.pagestages .container .wrapper .stage .stage__plus:hover {
    border-color: #f24c26;
}
.pagestages .container .wrapper .stage .stage__plus:hover:before {
    background-color: #f24c26;
}
.pagestages .container .wrapper .stage .stage__plus:hover:after {
    background-color: #f24c26;
}
.pagestages .container .wrapper .stage .stage__content {
    position: absolute;
    visibility: hidden;
    opacity: 0%;
    top: -100%;
    transition: 0s;
}
.pagestages .container .wrapper .stage .stage__content .stage__screens .stage__screen img {
    display: none;
}
.pagestages .container .wrapper .stage .stage__content-active {
    position: static;
    visibility: visible;
    opacity: 100%;
    top: 0%;
    transition: 0.5s all;
    margin-top: 25px;
}
.pagestages .container .wrapper .stage .stage__content-active .stage__screens {
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
    justify-content: space-evenly;
    row-gap: 15px;
}
.pagestages .container .wrapper .stage .stage__content-active .stage__screens .stage__screen img {
    display: block;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.pagestages .container .wrapper .stage .stage__content-active .stage__comment {
    margin: 20px auto 0 auto;
    max-width: 700px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color:#fff
}
.footer {
    position: relative;
    margin: 60px auto 0 auto;
    padding: 20px 0 20px 0;
}
.footer .info {
    width: 100%;
    height: auto;
}
.footer .line {
    width: 100%;
}
.stage__title {
    color: #fff;
    font-size: 29px;
    text-align: center;
}
.stage_btn {
    color: #fff;
    font-size: 21px;
}