.principles {
    min-height: 525px;
    background-color: none;
}

.principles .container {
    margin: 0 auto;
    width: 1140px;
    padding: 0 40px; 
    min-height: 0px;
}

.title_principles {
    font-size: 62.5px;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(0, 41, 61);
    margin: 0 auto;
    margin-top: -100px;
}
.prinp{
    display:block;
    margin: 0 auto;
    margin-top: 30px; 
}

.block_text {
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
    background-color:#f24c27;
}

.block_text_cont{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1140px;
    padding: 0px 60px 0 45px;

}

.prin_text h2{
    font-size: 20.9px;
    line-height: 1.2;
    font-weight: 700;
    color:#ffffff;
    margin-top: 30px;
    margin-bottom: 17px;
}

.prin_text {
    font-size: 12.5px;
    line-height: 1.2;
    font-weight: 400;
    color:#ffffff;
}
@media (max-width: 1199px) {
    .principles .container {
        max-width: 960px;
    }
    
    .prinp
    {
        margin: 0;
        padding-left: 200px;
    }
    .principles
    {
        min-height: 0px;
    }
    .block_text_cont
    {
    	max-width: 960px;
        justify-content: space-between;
    }
    
}

@media (max-width: 991px) {
    .principles .container {
        max-width: 720px;
	}
    .block_text_cont
    {
    	max-width: 720px;
        justify-content: space-between;
    }
    .prinp
    {
        margin: 0;
        padding-left: 50px;
    }
    .prin_text h2
    {
        font-size: 15px;
        margin-top: 20px;
    }
    .prin_text
    {
        font-size: 10px;
    }
    .block_text {
        min-height: 140px;
    }
}

@media (max-width: 767px) {
    .principles .container {
        max-width: 540px;
        padding: 0px;
	}
    .block_text_cont{
    	max-width: 540px;
        justify-content: space-between;
        padding: 0px 15px 30px 15px;
    }
    .prinp
    {
        margin: auto;
        margin-top: 10px;
        padding-left: 0px;
        width: 300px;
        height: 116px;
    }
    .principles
    {
        min-height: 0px;
    }
    .prin_text h2
    {
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 8px;
    }
    .prin_text
    {
        font-size: 9px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .block_text {
        min-height: 140px;
        margin-top: 15px;
    }
    .title_principles {
        font-size: 30px;
        margin-left: 19px;
    }
}

@media (max-width: 575px) {
    .principles{
        display: none;
    }
}