.reg {
    background: url('../../img/bg/main.jpg') center center/cover no-repeat;
    background-color: rgb(0, 41, 61);
    min-height: 100vh;
    padding: 40px 0 40px 0;
}

.reg .container {
    width: 1140px;
    margin: 0 auto;
}

.container .logo {
    display: block;
    width: 250px;
    margin: 0 auto;
}

.reg__title {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
}

.reg__subtitle {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.form__reg {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px auto 0 auto;
    width: 40%;
}

.form__reg-input {
    border: none;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 20px;
    padding: 0 0 0 25px;
    font-size: 20px;
}

.reg_btn {
    margin: 25px auto;
    width: 300px;
    height: 70px;
    font-size: 25px;
}
.error {
    display: none;
    color: red;
    font-size: 18px;
}
#password {
    margin-top: 15px;
}
#email {
    margin-bottom: 12px;
}
.email-error {
    position: absolute;
    font-weight: 500;
    top: 57%;
    color: red;
    font-size: 18px;
}