{% extends "template.html" %}

{% block page %}
<section class="pagestages">
    <div class="container">
        <div class="logo">
            <a href="/"><img class="logo" src="../../static/img/logo.svg"></img></a>
        </div>

        <h1 class="pagestages__title">Этапы разработки проекта "{{project.title}}"</h1>
        <h2 class="pagestages__subtitle">Проект был начат {{project.date}}.</h2>

        <div class="wrapper">
            {% if project.stages %}
            {% set vars = {'i': 1} %}
                {% for stage in project.stages %}
                <div class="stage">
                    <div class="stage__title">Этап {{vars.i}} {{stage.date}}</div>
                    <div class="stage__plus">
                    </div>
                    {% if vars.update({'i': vars.i+1}) %} {% endif %}

                    <div class="stage__content">
                        <div class="stage__anounce">{{stage.title}}</div>
                        <div class="stage__screens">
                            <div class="stage__screen">
                                <img src="../static/stage_images/{{stage.image}}" alt="screen">
                            </div>
                        </div>
                        <div class="stage__comment">
                            {{stage.text}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="stage__title">Здесь пока ничего нет</div>
            {% endif %}
        </div>
        {% if developer %}
        <button data-modal="addStage" class="btn_big stage_btn">Добавить этап</button>
        {% else %}
        <button class="btn_big"><a href="/logout">Выйти</a></button>
        {% endif %}
        <div class="footer">
            <hr class="line">
            <div class="info">
                <div class="links">
                    <div class="link">
                        <div class="head_text">
                            КОНТАКТЫ
                        </div>
                        <div class="info_text">
                            <a href="tel:78005553535"> +78005553535</a> <br>
                            contact@webx.com
                        </div>
                    </div>
                    <div class="link">
                        <div class="head_text">
                            АДРЕС
                        </div>
                        <div class="info_text">
                            <a href="https://yandex.ru/maps/47/nizhny-novgorod/house/bolshaya_pokrovskaya_ulitsa_60/YEoYfw9pTkUHQFtsfX9wc31hZA==/?ll=43.989700%2C56.312120&z=16.72" target="_blank"> г. Нижний Новгород <br>
                            ул. Б.Покровская, 60 </a>
                        </div>
                    </div>
                    <div class="link">
                        <div class="head_text">
                            СОЦ СЕТИ
                        </div>
                        <div class="icons_links">
                            <a href="https://www.instagram.com/" target="_blank">
                                <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M-9.01547e-07 9.375L-4.09794e-07 20.625C-1.83506e-07 25.8019 4.19812 30 9.375 30L20.625 30C25.8019 30 30 25.8019 30 20.625L30 9.375C30 4.19813 25.8019 7.79513e-07 20.625 1.0058e-06L9.375 1.49755e-06C4.19812 1.72384e-06 -1.12784e-06 4.19813 -9.01547e-07 9.375ZM20.625 2.8125C24.2437 2.8125 27.1875 5.75625 27.1875 9.375L27.1875 20.625C27.1875 24.2437 24.2437 27.1875 20.625 27.1875L9.375 27.1875C5.75625 27.1875 2.8125 24.2437 2.8125 20.625L2.8125 9.375C2.8125 5.75625 5.75625 2.8125 9.375 2.8125L20.625 2.8125Z" fill="rgb(137, 165, 166)"/>
                                    <path d="M7.5 15C7.5 19.1419 10.8581 22.5 15 22.5C19.1419 22.5 22.5 19.1419 22.5 15C22.5 10.8581 19.1419 7.5 15 7.5C10.8581 7.5 7.5 10.8581 7.5 15ZM19.6875 15C19.6875 17.5837 17.5837 19.6875 15 19.6875C12.4144 19.6875 10.3125 17.5838 10.3125 15C10.3125 12.4163 12.4144 10.3125 15 10.3125C17.5837 10.3125 19.6875 12.4162 19.6875 15Z" fill="rgb(137, 165, 166)"/>
                                    <path d="M7.93685 6.93715C7.93685 6.38521 7.48942 5.93777 6.93748 5.93777C6.38554 5.93777 5.93811 6.38521 5.93811 6.93715C5.93811 7.48909 6.38554 7.93652 6.93748 7.93652C7.48942 7.93652 7.93685 7.48909 7.93685 6.93715Z" fill="rgb(137, 165, 166)"/>
                                </svg>                                        
                            </a>
                            <a href="https://telegram.org/" target="_blank">
                                <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 30C23.2863 30 30 23.2863 30 15C30 6.71375 23.2863 0 15 0C6.71375 0 0 6.71375 0 15C0 23.2863 6.71375 30 15 30ZM6.86375 14.675L21.3263 9.09875C21.9975 8.85625 22.5837 9.2625 22.3662 10.2775L22.3675 10.2762L19.905 21.8775C19.7225 22.7 19.2337 22.9 18.55 22.5125L14.8 19.7487L12.9912 21.4913C12.7912 21.6913 12.6225 21.86 12.235 21.86L12.5013 18.0438L19.4513 11.765C19.7537 11.4987 19.3837 11.3488 18.985 11.6138L10.3963 17.0212L6.69375 15.8663C5.89 15.6112 5.8725 15.0625 6.86375 14.675Z" fill="rgb(137, 165, 166)"/>
                                </svg>   
                            </a>
                            <a href="https://vk.com/" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" viewBox="0 0 40 40" version="1.1">
                                    <path fill="rgb(137, 165, 166)" style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 20 40 C 8.957031 40 0 31.042969 0 20 C 0 8.957031 8.957031 0 20 0 C 31.042969 0 40 8.957031 40 20 C 40 31.042969 31.042969 40 20 40 Z M 20 40 "/>
                                    <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0, 41, 61);fill-opacity:1;" d="M 32.761719 13.78125 C 32.945312 13.160156 32.761719 12.707031 31.875 12.707031 L 28.960938 12.707031 C 28.21875 12.707031 27.875 13.101562 27.691406 13.53125 C 27.691406 13.53125 26.207031 17.148438 24.109375 19.496094 C 23.429688 20.175781 23.121094 20.390625 22.746094 20.390625 C 22.5625 20.390625 22.296875 20.175781 22.296875 19.554688 L 22.296875 13.78125 C 22.296875 13.039062 22.078125 12.707031 21.464844 12.707031 L 16.878906 12.707031 C 16.414062 12.707031 16.136719 13.050781 16.136719 13.378906 C 16.136719 14.085938 17.1875 14.242188 17.296875 16.222656 L 17.296875 20.519531 C 17.296875 21.460938 17.125 21.632812 16.757812 21.632812 C 15.769531 21.632812 13.363281 18 11.9375 13.84375 C 11.65625 13.035156 11.375 12.710938 10.632812 12.710938 L 7.714844 12.710938 C 6.882812 12.710938 6.714844 13.105469 6.714844 13.535156 C 6.714844 14.308594 7.703125 18.140625 11.320312 23.207031 C 13.730469 26.667969 17.125 28.542969 20.214844 28.542969 C 22.066406 28.542969 22.300781 28.128906 22.300781 27.40625 L 22.300781 24.792969 C 22.300781 23.960938 22.476562 23.792969 23.0625 23.792969 C 23.496094 23.792969 24.238281 24.007812 25.96875 25.675781 C 27.945312 27.652344 28.273438 28.539062 29.382812 28.539062 L 32.300781 28.539062 C 33.132812 28.539062 33.546875 28.125 33.308594 27.300781 C 33.042969 26.480469 32.101562 25.292969 30.847656 23.878906 C 30.167969 23.074219 29.148438 22.210938 28.839844 21.78125 C 28.40625 21.222656 28.53125 20.976562 28.839844 20.484375 C 28.835938 20.484375 32.386719 15.480469 32.761719 13.78125 Z M 32.761719 13.78125 "/>
                                </svg>
                            </a>  
                        </div>
                    </div>
                    <div class="link">
                        <div class="=icon">
                            <img src="../../static/img/logo.png" alt="logo" class="logo_footer">
                        </div>
                        <div class="info_text">
                            © 2021 ООО "WebX" <br>
                            Все права защищены
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if developer %}
    <div class="overlay">
        <div class="modal" id="modalStage">
            <div class="modal__close">&times;</div>
            <div class="modal__title">Добавить этап</div>
            <form action="/add_stage/{{project.id}}" method="post" class="form form_modal" autocomplete="off" enctype="multipart/form-data">
                <input name="screen" placeholder="Фотография" required type="file">
                <input name="title" placeholder="Анонс" type="text">
                <textarea name="description" placeholder="Расскажите о проделанной работе" type="text"></textarea>
                <button type="submit" class="btn_submit">ОТПРАВИТЬ</button>
            </form>
        </div>
    </div>
    {% endif %}
</section>

{%endblock%}