{%extends "calc.html"%}



 {%block choise%}
 <div class="calc-form">
    <h2 class="form_title">3/4 Дизайн:</h2>

    <form action="/form/{{num}}" class="choise"  method="post">
        <input name="design" type="radio" value="templ"><span>Шаблонный</span><br>

        <input name="design" type="radio" value="individual"><span>Индивидуальный</span><br>

        <input name="design" type="radio" value="clients"><span>От заказчика</span><br>
        <button type="button" class="btn_submit">Далее</button>
        <div class="error">* Выберите один пункт</div>
    </form>
    
</div>
{%endblock%}