{%extends "calc.html"%}

{%block choise%}
 <div class="calc-form">
    <h2 class="form_title">2/4 SEO-оптимизация:</h2>

    <form action="/form/{{num}}" class="choise"  method="post">
            <input name="SEO" type="radio" value="yes"><span>Да</span><br>

            <input name="SEO" type="radio" value="no"><span>Нет</span><br>
            <button type="button" class="btn_submit">Далее</button>
            <div class="error">* Выберите один пункт</div>
    </form>
            
</div>
{%endblock%}