{% extends "template.html" %}

{% block page %}
    <style>
        .overlay {
            display: {{ModalDisplay}};
        }
        .error {
            display: {{ModalDisplay}};
            padding-right: 34%;
        }
        .enter-error {
            display: {{ErrorDisplay}};
        }
    </style>
    <section class="promo" id="up">
        <div class="container">
            <div class="wrapper">
                <a href="/"><img class="logo" src="../static/img/logo.svg"></img></a>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#description">О НАС</a>
                    </li>
                    <li class="menu__item">
                        <a href="#products">ПРОДУКЦИЯ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#team">НАШИ  СОТРУДНИКИ</a>
                    </li>
                    <li class="menu__item" id="princip">
                        <a href="#principles">ПРИНЦИПЫ</a>
                    </li>
                    <li class="menu__item">
                        <a href="#contacts">КОНТАКТЫ</a>
                    </li>
                </ul>
                <button data-modal="login" class="btn_start">Личный кабинет</button>
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h1 class="title">Создаем сайты для решения актуальных бизнес-задач</h1>
            <h2 class="subtitle">Выведем бизнес на новый уровень</h2>
            <button class="btn_big"><a href="/sign_in">КУПИТЬ</a></button>
        </div>
    </section>

    <section class="description" id="description">
        <div class="container">
            <h2 class="deshead">Проекты, которые сияют</h2>
            <div class="text1">Создаем сайты для решения актуальных бизнес-задач. Расширяем границы вашего бизнеса в цифровых каналах продаж.</div>
            <div class="text2">Проектируем, придумываем, разрабатываем, а порой и настаиваем на внедрении тех решений и технологий, которые появились в процессе работы над проектом.</div>
        </div>
    </section>

    <section class="products" id="products">
        <div class="headline"><div class="head"><h2 class="products_head">Продукция</h2></div></div>
            <div class="container">
                <div class="products_line">
                    <ul class="list">
                        <li class="service" ><div class="wrong_icon"><img src="../static/icons/products/lending.png" alt=""></div>
                            <div class="text"><h2>ЛЭНДИНГ</h2><br>Сайт-визитка с обратной связью и небольшим функционалом для продвижения услуг, проведения акций или рекламы нового товара</div>
                        </li>
                        <li class="service" ><div class="wrong_icon"><img src="../static/icons/products/multipage.png" alt=""></div>
                            <div class="text"><h2>МНОГОСТРАНИЧНИК</h2><br>Для полного представления вашего бизнеса. Положительно скажется на имидже, выгодно отличит вас от конкурентов</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/design.png" alt=""></div>
                            <div class="text"><h2>ДИЗАЙН/РЕДИЗАЙН</h2><br>Воплотим уникальную идею в прекрасный визуал для более дружелюбного контакта с целевой аудиторией</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/escort.png" alt=""></div>
                            <div class="text"><h2>СОПРОВОЖДЕНИЕ</h2><br>Прогрессивное развитие сайта невозможно без качественного контроля и актуального технического обслуживания</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/light_bulb.png" alt=""></div>
                            <div class="text"><h2>ПРАВКИ ПО САЙТУ</h2><br>Если нужно разнообразить или дополнить сайт необходимым функционалом, либо новым визуальным</div>
                        </li>
                        <li class="service" ><div class="ic_marg"><img src="../static/icons/products/promotion.png" alt=""></div>
                            <div class="text"><h2>РЕКЛАМА</h2><br>Создание и сопровождение рекламных кампаний в Яндекс.Директ, Google AdWords и прочих продвижений в сети</div>
                        </li>
                    </ul>
                </div>
            </div>
    </section>
  
    <section class="cost">
        <div class="container">
            <h2 class="title_cost"> Стоимость </h2>
            <div class="wrapper">
                <img src="../static/img/calculate.jpg" alt="calc" class="calc">
                <div class="cost_text">
                    <div class="cost_text_title">
                        Чтобы узнать цену на создание и запуск сайта нужно выяснить, какие задачи он должен решать
                    </div>
                    <div class="cost_text_desc">
                        Web-сайты служат для разных целей и каждый из них выполняет свои функции, занимает разное время в продумывании и создании, и цены за их разработку будут различаться. <br> 
                        Стоимость разработки начинается от 20 000 руб.
                    </div>
                    <button class="btn_cost"><a href="/form/1">РАССЧИТАТЬ СТОИМОСТЬ</a></button>
                </div>
            </div>
            <div class="facts">
                <div class="facts_item">
                    <div class="orange_text">
                        2 часа
                    </div>
                    <div class="blue_text">
                        на заполнение ТЗ
                    </div>
                </div>
                <div class="facts_item">
                    <div class="orange_text">
                        от 40%
                    </div>
                    <div class="blue_text">
                        прирост продаж
                    </div>
                </div>
                <div class="facts_item">
                    <div class="orange_text">
                        от 7 дней
                    </div>
                    <div class="blue_text">
                        на реализацию landing page
                    </div>
                </div>
                <div class="facts_item">
                    <div class="orange_text">
                        поднимем
                    </div>
                    <div class="blue_text">
                        ваш бизнес на новый уровень
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team" id="team">
        <div class="container">
            <h2 class="title_team"> Наша команда </h2>
            <div class="wrapp">
                <div class="human">
                    <img src="../static/img/employees/Sushka.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Сидоров Александр,
                        <br> бэкенд-разработчик,
                        <br> опыт разработки - 4 года 
                    </div>
                </div>
                <div class="human">
                    <img src="../static/img/employees/Katya.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Семерикова Екатерина,
                        <br> веб-дизайнер,
                        <br> опыт работы - 3 года
                    </div>
                </div>
                <div class="human">
                    <img src="../static/img/employees/Darina.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Таразанова Дарина,
                        <br> SEO-специалист,
                        <br> опыт работы - 5 лет  
                    </div>
                </div>
                <div class="human">
                    <img src="../static/img/employees/Danechka.jpg" alt="" class="human_foto">
                    <div class="human_text">
                        Катаев Даниил,
                        <br> фронтенд-разработчик,
                        <br> опыт разработки - 4 года
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="principles" id="principles">
        <div class="container">
            <h2 class="title_principles"> Принципы </h2>
                <img src="../static/img/principles/peoples.png" alt="prinp" class="prinp">
        </div>
        <div class="block_text">
            <div class="block_text_cont">
                <div class="prin_text">
                    <h2>РАЗУМНЫЕ СРОКИ<br>“С ЗАПАСОМ”</h2>
                    Хороший продукт нельзя сделать быстро.
                    <br>Вы это осознаете, и мы тоже.
                    <br>Персонально определяем сроки
                    <br>выполнения проекта.
                </div>
                <div class="prin_text">
                    <h2>ВНИМАТЕЛЬНОСТЬ<br>КАК ПРИОРИТЕТ</h2>
                    Каждый элемент на сайте должен решать 
                    <br>какую-то задачу, нести информацию 
                    <br>и смысл. Уделяем внимание проработке 
                    <br>каждой детали.
                </div>
                <div class="prin_text">
                    <h2>ПОЛНОЕ<br>ПОГРУЖЕНИЕ</h2>
                    У нас нет конвейера и шаблонов.
                    <br>сть опыт и желание решить задачи.
                    <br>Каждый бизнес - уникален.
                    <br>Мы погружаемся в него,
                    <br>исследуя его цели и задачи.  
                </div>
            </div>
        </div>
    </section>

    <footer id="contacts">
        <div class="container">
            <h2 class="footer__title">Свяжитесь с нами</h2>
            <div class="wrapper">
                <form action="/" method="post" class="form form_footer" autocomplete="off" id="footer-form">
                    <input name="_name" id="footer-form__name" placeholder="Имя" required maxlength="20" type="text">
                    <hr class="divider">

                    <input name="_phone" id="footer-form__phone" placeholder="Телефон" required type="tel">
                    <hr class="divider">

                    <input name="_email" id="footer-form__email" placeholder="Почта" type="email">
                    <hr class="divider">

                    <textarea name="description" placeholder="Несколько слов о проекте" type="text"></textarea>

                    <button type="submit" class="btn_submit">ОТПРАВИТЬ</button>
                </form>

                <div class="info">
                    <hr class="line">
                    <div class="links">
                        <div class="link">
                            <div class="head_text">
                                КОНТАКТЫ
                            </div>
                            <div class="info_text">
                                <a href="tel:78005553535"> +78005553535</a> <br>
                                contact@webx.com
                            </div>
                        </div>
                        <div class="link">
                            <div class="head_text">
                                АДРЕС
                            </div>
                            <div class="info_text">
                                <a href="https://yandex.ru/maps/47/nizhny-novgorod/house/bolshaya_pokrovskaya_ulitsa_60/YEoYfw9pTkUHQFtsfX9wc31hZA==/?ll=43.989700%2C56.312120&z=16.72" target="_blank"> г. Нижний Новгород <br>
                                ул. Б.Покровская, 60 </a>
                            </div>
                        </div>
                        <div class="link">
                            <div class="head_text">
                                СОЦ СЕТИ
                            </div>
                            <div class="icons_links">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M-9.01547e-07 9.375L-4.09794e-07 20.625C-1.83506e-07 25.8019 4.19812 30 9.375 30L20.625 30C25.8019 30 30 25.8019 30 20.625L30 9.375C30 4.19813 25.8019 7.79513e-07 20.625 1.0058e-06L9.375 1.49755e-06C4.19812 1.72384e-06 -1.12784e-06 4.19813 -9.01547e-07 9.375ZM20.625 2.8125C24.2437 2.8125 27.1875 5.75625 27.1875 9.375L27.1875 20.625C27.1875 24.2437 24.2437 27.1875 20.625 27.1875L9.375 27.1875C5.75625 27.1875 2.8125 24.2437 2.8125 20.625L2.8125 9.375C2.8125 5.75625 5.75625 2.8125 9.375 2.8125L20.625 2.8125Z" fill="rgb(137, 165, 166)"/>
                                        <path d="M7.5 15C7.5 19.1419 10.8581 22.5 15 22.5C19.1419 22.5 22.5 19.1419 22.5 15C22.5 10.8581 19.1419 7.5 15 7.5C10.8581 7.5 7.5 10.8581 7.5 15ZM19.6875 15C19.6875 17.5837 17.5837 19.6875 15 19.6875C12.4144 19.6875 10.3125 17.5838 10.3125 15C10.3125 12.4163 12.4144 10.3125 15 10.3125C17.5837 10.3125 19.6875 12.4162 19.6875 15Z" fill="rgb(137, 165, 166)"/>
                                        <path d="M7.93685 6.93715C7.93685 6.38521 7.48942 5.93777 6.93748 5.93777C6.38554 5.93777 5.93811 6.38521 5.93811 6.93715C5.93811 7.48909 6.38554 7.93652 6.93748 7.93652C7.48942 7.93652 7.93685 7.48909 7.93685 6.93715Z" fill="rgb(137, 165, 166)"/>
                                    </svg>                                        
                                </a>
                                <a href="https://telegram.org/" target="_blank">
                                    <svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 30C23.2863 30 30 23.2863 30 15C30 6.71375 23.2863 0 15 0C6.71375 0 0 6.71375 0 15C0 23.2863 6.71375 30 15 30ZM6.86375 14.675L21.3263 9.09875C21.9975 8.85625 22.5837 9.2625 22.3662 10.2775L22.3675 10.2762L19.905 21.8775C19.7225 22.7 19.2337 22.9 18.55 22.5125L14.8 19.7487L12.9912 21.4913C12.7912 21.6913 12.6225 21.86 12.235 21.86L12.5013 18.0438L19.4513 11.765C19.7537 11.4987 19.3837 11.3488 18.985 11.6138L10.3963 17.0212L6.69375 15.8663C5.89 15.6112 5.8725 15.0625 6.86375 14.675Z" fill="rgb(137, 165, 166)"/>
                                    </svg>   
                                </a>
                                <a href="https://vk.com/v_vildanov" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42px" height="42px" viewBox="0 0 40 40" version="1.1">
                                        <path fill="rgb(137, 165, 166)" style=" stroke:none;fill-rule:nonzero;fill-opacity:1;" d="M 20 40 C 8.957031 40 0 31.042969 0 20 C 0 8.957031 8.957031 0 20 0 C 31.042969 0 40 8.957031 40 20 C 40 31.042969 31.042969 40 20 40 Z M 20 40 "/>
                                        <path style=" stroke:none;fill-rule:nonzero;fill:rgb(0, 41, 61);fill-opacity:1;" d="M 32.761719 13.78125 C 32.945312 13.160156 32.761719 12.707031 31.875 12.707031 L 28.960938 12.707031 C 28.21875 12.707031 27.875 13.101562 27.691406 13.53125 C 27.691406 13.53125 26.207031 17.148438 24.109375 19.496094 C 23.429688 20.175781 23.121094 20.390625 22.746094 20.390625 C 22.5625 20.390625 22.296875 20.175781 22.296875 19.554688 L 22.296875 13.78125 C 22.296875 13.039062 22.078125 12.707031 21.464844 12.707031 L 16.878906 12.707031 C 16.414062 12.707031 16.136719 13.050781 16.136719 13.378906 C 16.136719 14.085938 17.1875 14.242188 17.296875 16.222656 L 17.296875 20.519531 C 17.296875 21.460938 17.125 21.632812 16.757812 21.632812 C 15.769531 21.632812 13.363281 18 11.9375 13.84375 C 11.65625 13.035156 11.375 12.710938 10.632812 12.710938 L 7.714844 12.710938 C 6.882812 12.710938 6.714844 13.105469 6.714844 13.535156 C 6.714844 14.308594 7.703125 18.140625 11.320312 23.207031 C 13.730469 26.667969 17.125 28.542969 20.214844 28.542969 C 22.066406 28.542969 22.300781 28.128906 22.300781 27.40625 L 22.300781 24.792969 C 22.300781 23.960938 22.476562 23.792969 23.0625 23.792969 C 23.496094 23.792969 24.238281 24.007812 25.96875 25.675781 C 27.945312 27.652344 28.273438 28.539062 29.382812 28.539062 L 32.300781 28.539062 C 33.132812 28.539062 33.546875 28.125 33.308594 27.300781 C 33.042969 26.480469 32.101562 25.292969 30.847656 23.878906 C 30.167969 23.074219 29.148438 22.210938 28.839844 21.78125 C 28.40625 21.222656 28.53125 20.976562 28.839844 20.484375 C 28.835938 20.484375 32.386719 15.480469 32.761719 13.78125 Z M 32.761719 13.78125 "/>
                                    </svg>
                                </a>  
                            </div>
                        </div>
                        <div class="link">
                            <div class="=icon">
                                <img src="../static/img/logo.png" alt="logo" class="logo_footer">
                            </div>
                            <div class="info_text">
                                © 2021 ООО "WebX" <br>
                                Все права защищены
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </footer>

    <a href="#up" class="page-up">
        <img src="../static/icons/chevron-slide-up.svg" alt="slide_up">
    </a>

{% endblock %}

{% block overlay %}
<div class="overlay">
    <div class="modal" id="login">
        <div class="modal__close">&times;</div>
        <div class="modal__title">Войти в личный кабинет</div>
        <form action="/" method="post" id="overlay-form" class="form form_modal" autocomplete="off">
            {% for field in form %}
            {{field()}}
            {% for error in field.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% endfor %}
            <label id="label-remember" for="remember">Запомнить меня</label>
            <div class="enter-error">Неправильно ввели почту или пароль </div>
            <a href="/sign_in" class="modal__reg">Зарегистрировать проект!</a>
        </form>
    </div>
    
    <div class="modal" id="thanks">
        <div class="modal__close">&times;</div>
        <div class="modal__title">Спасибо за вашу заявку!</div>
        <div class="modal__subtitle">Наш менеджер свяжется с вами в ближайшее время!</div>
    </div> 
</div>
{% endblock %}

