{%extends "template.html"%}

{% block page %}
<style>
    .error {
        display: {{display}};
    }
    .email-error {
        display: {{emailDisplay}}
    }
</style>
<div class="reg">
    <div class="container">
        <a href="/" class="logo">
            <img src="../static/img/logo.svg" alt="logo">
        </a>

        <h1 class="reg__title">Регистрация</h1>
        <h2 class="reg__subtitle">заполните следующие поля:</h2>

        <form action="/sign_in" method="POST" class="form__reg">
            {% for field in form %}
            {{field()}}
            {% for error in field.errors %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            {% endfor %}
            <div class="email-error">Такой почты не существует</div>
        </form>
    </div>
</div>
    
{% endblock %}