<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/icons/fivicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>WebX</title>
</head>
<body>
    {% block page %}{% endblock %}
    
    {% block overlay %}{% endblock %}
    

    <script src="https://code.jquery.com/jquery-1.11.0.min.js""></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../static/js/jquery.maskedinput.min.js"></script>
    <script src="../../static/js/script.js"></script>
</body>
</html>
